*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;   
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: #000000;
}
span{
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.sun{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: orange;
    box-shadow: 0 0 10px #ff2c00,
                0 0 20px rgb(255, 145, 0),
                0 0 40px #ff2c00,
                0 0 60px rgb(255, 132, 0);
    z-index: 9999;
}

.planet{
    background: transparent;
    border: 4px solid rgba(24, 16, 236, 0.67);
    animation:animate 80s, linear infinite;
}
@keyframes animate {
    0%{
        transform: translate(-50%, -50%) rotate(0);
    }
    
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.planet1{
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.planet2{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.planet3{
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.planet4{
    width: 270px;
    height: 270px;
    border-radius: 50%;
}

.planet5{
    width: 340px;
    height: 340px;
    border-radius: 50%;
}

.planet6{
    width: 430px;
    height: 430px;
    border-radius: 50%;
}

.planet7{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.planet8{
    width: 550px;
    height: 550px;
    border-radius: 50%;
}

span::before, span::after{
    content: '';
    position: absolute;
    background: #fff;
    border-radius: 50%;
}

.planet1::before{
    width: 20px;
    height: 20px;
    bottom: 6px;
    left: 2px;
    background: #f8e411;
}
.planet2::before{
    width: 30px;
    height: 30px;
    top: 10px;
    left: 10px;
    background: #ff0000;
}
.planet3::before{
    width: 30px;
    height: 30px;
    bottom: 100px;
    right: -15px;
    background: #f6ff00;
}
.planet4::before{
    width: 30px;
    height: 30px;
    top: 22px;
    left: 210px;
    background: #ff9524;
}
.planet5::before{
    width: 40px;
    height: 40px;
    bottom: -18px;
    left: 170px;
    background: #ffb624;
}
.planet6::before{
    width: 50px;
    height: 50px;
    top: 100px;
    left: -7px;
    background: #ffb84d;
}
.planet6::after{
    width: 80px;
    height: 20px;
    top: 115px;
    left: -21px;
    background: #ffb84d;
}
.planet7::before{
    width: 37px;
    height: 37px;
    bottom: 80px;
    right: 30px;
    background: #4d6bff;
}
.planet8::before{
    width: 35px;
    height:35px;
    top:5px;
    right: 140px;
    background: #0b8e9d9a;
}